In [41]:
#!pip install selenium

In [42]:
from selenium import webdriver

navegador = webdriver.Firefox()
navegador.get("https://www.google.com/")

In [43]:
# Importar a base de dados
import pandas as pd

tabela = pd.read_excel("commodities.xlsx")
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [44]:
import unicodedata

for linha in tabela.index:
    produto = tabela.loc[linha, "Produto"]
    
    print(produto)
    produto = unicodedata.normalize("NFKD", produto).encode("ascii", "ignore").decode("ascii") 

    link = f"https://www.melhorcambio.com/{produto}-hoje"
    navegador.get(link)
    print(link)

    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace(".", "").replace(",", ".")
    print(preco)
    tabela.loc[linha, "Preço Atual"] = float(preco)
    
display(tabela)

Milho
https://www.melhorcambio.com/Milho-hoje
85.24
Soja
https://www.melhorcambio.com/Soja-hoje
160.78
Boi
https://www.melhorcambio.com/Boi-hoje
278.90
Petróleo
https://www.melhorcambio.com/Petroleo-hoje
382.63
Algodão
https://www.melhorcambio.com/Algodao-hoje
480.00
Açúcar
https://www.melhorcambio.com/Acucar-hoje
135.68
Café
https://www.melhorcambio.com/Cafe-hoje
1113.46
Ouro
https://www.melhorcambio.com/Ouro-hoje
338.43
Trigo
https://www.melhorcambio.com/Trigo-hoje
1548.70
Tilápia
https://www.melhorcambio.com/Tilapia-hoje
9.05

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        85.24      NaN
1      Soja       163.59       160.78      NaN
2       Boi       282.20       278.90      NaN
3  Petróleo       424.37       382.63      NaN
4   Algodão       497.76       480.00      NaN
5    Açúcar       136.23       135.68      NaN
6      Café      1092.87      1113.46      NaN
7      Ouro       321.77       338.43      NaN
8     Trigo      1549.11      1548.70      NaN
9   Tilápia         9.05         9.05      NaN

In [45]:
# Preencher a coluna 'Comprar'
tabela["Comprar"] = tabela["Preço Atual"] < tabela["Preço Ideal"]
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        85.24     True
1      Soja       163.59       160.78     True
2       Boi       282.20       278.90     True
3  Petróleo       424.37       382.63     True
4   Algodão       497.76       480.00     True
5    Açúcar       136.23       135.68     True
6      Café      1092.87      1113.46    False
7      Ouro       321.77       338.43    False
8     Trigo      1549.11      1548.70     True
9   Tilápia         9.05         9.05    False

In [46]:
# Exportar a base de dados para o excel
tabela.to_excel("commodities_atualizado.xlsx", index=False)

In [47]:
navegador.quit()